.settings
.ycm_*
Debug

DoomsdayTetris2
DoomsdayTetris2.exe
doomsdayTetris

*.json

SDL2.dll
SDL2_ttf.dll
zlib1.dll
libfreetype-6.dll

Makefile
Makefile.in

*.ttf
.cproject

src/.deps
obj/
*.o
Release/
compile

.cache/
.clangd/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
doomsday-tetris

