.settings
.deps/
Debug

DoomsdayTetris2
DoomsdayTetris2.exe
doomsdatTetris

*.json

SDL2.dll
SDL2_ttf.dll
zlib1.dll
libfreetype-6.dll

Makefile
Makefile.in

*.ttf
.cproject

obj/
*.o
Release/
k
compile

config*
stamp*

 m4/
*.m4

libtool
ltmain.sh
install*
missing
*.log

*.cache
*.sub
*.status

depcomp
